<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">

	<title>Box Model</title>

	<link rel="stylesheet" type="text/css" href="stylesBox.css">

</head>

<body>
	<div class="outer">
		<div class="box">
		<p>The box model describes the physical propoerties of each element on your page.  Margine, borders. padding, and content all make up an ele,ent's box.  In this case, the inner div's tags margins can be seen with the blue color, the border os black, the padding is represented by orange, and the element's wdith and height are yellow.</p>
		</div>
	</div>


</body>

</html>